.contact{ id: "contacttop" }
  .contact__box
    .contact__title
      %p Contact
    .contact__message
      %p お気軽にお問い合わせ下さい
    .contact__contents
      .contact__contents_title
        %p お問い合わせフォーム
      .contact__contents_form
        = form_with url: tops_path, local: true do |f|
          .contact__contents_form_name
            お名前：
            = f.text_field :name, class: "form_name", placeholder: "入力して下さい"
          .contact__contents_form_title
            ご用件：
            = f.text_field :title, class: "form_title", placeholder: "入力して下さい"
          .contact__contents_form_message
            お問い合わせ内容の詳細：
            %br
            = f.text_area :message, size: "43x4", class: "form_message", placeholder: "入力して下さい"
            %p 返信の必要な方はメールアドレスの記載もお願い致します
          .contact__contents_form_submit
            = f.button '送信する',type: "button", onclick: "submit();", class: "submit-btn", data: { disable_with: '問い合わせ中...' }