.products{ id: "productstop" }
  .products__box
    .products__title
      %p Products
    .products__message
      %p 制作物を紹介します
    .products__contents
      .products__contents1
        .products__contents1_title
          %p WHIM ARROW!
        .products__contents1_box
          .products__contents1_box_image
            = image_tag 'icon-arrow.png'
          .products__contents1_box_discription
            %p Swiftで制作したゲームアプリです
            %p 詳細ページにGif画像があるので是非ご覧下さい
            %br
            %br
            = icon("fas", "chevron-right", class: 'icon')
            = link_to "詳しく見る", {controller: 'tops', action: 'show', name: 'pro1'}
            %br
            %br
            = icon("fab", "github", class: 'icon')
            = link_to "GitHub ページ", "https://github.com/sayuroy/WHIM_ARROW"
      .products__contents2
        .products__contents2_title
          %p FURIMA (チーム制作)
        .products__contents2_box
          .products__contents2_box_image
            = image_tag 'furimalogo.png'
          .products__contents2_box_discription
            %p Rubyで制作したフリマアプリです
            %p テストカードを使用した購入ができます
            %br
            %br
            = icon("fas", "chevron-right", class: 'icon')
            = link_to "詳しく見る", {controller: 'tops', action: 'show', name: 'pro2'}
            %br
            %br
            = icon("fab", "github", class: 'icon')
            = link_to "GitHub ページ", "https://github.com/sayuroy/freemarket_sample_73g"
      .products__contents3
        .products__contents3_title
          %p ライフハックメモ
        .products__contents3_box
          .products__contents3_box_image
            %p no image
          .products__contents3_box_discription
            %p Rubyで制作したメモアプリです
            %p ライフハックの購入ができます
            %br
            %br
            = icon("fas", "chevron-right", class: 'icon')
            %i 制作中
            -# = link_to "制作中", "#"
            %br
            %br
            = icon("fab", "github", class: 'icon')
            %i 制作中
            -# = link_to "制作中", "#"
