#account-page.account-page
  .account-page__box
    .account-page__box_content
      .account-page__box_content_header
        .account-title
          %h2 Please Log In!
        %br
        %h5 登録アカウントでログイン
        = render "devise/shared/links"
      .account-page__box_content_user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email, autofocus: true
            .field
              .field-label
                = f.label :password
                %i (英数字8文字以上)
              .field-input
                = f.password_field :password, autocomplete: "off"
            .actions
              = f.submit "Log In", class: 'account_btn'
    .account-message
      %p サイトの利用にはログインが必要です
