.header__logo
  = link_to memos_path, class: "index-memo" do
    = icon("far", "lemon", class: 'icon')
    %h2 Life Hack MEMO
.header__contents
  .header__contents_upper
    Hello,
    = current_user.name
  .header__contents_box
    .header__contents_box_left
      = icon("far", "address-book", class: 'icon')
    .header__contents_box_center
      = link_to new_memo_path, class: "new-memo" do
        = icon("fas", "edit", class: 'icon')
    .header__contents_box_right
      = link_to destroy_user_session_path, method: :delete, class: 'logout-memo' do
        = icon("fas", "door-open", class: 'icon')